[submodule "Externals/Submodules"]
	path = Submodules
	url = git@github.com:TaviscaSolutions/nextgen-performance-core.git
	branch = develop
[submodule "Externals/Submodules"]
	path = Submodules
	url = git@github.com:TaviscaSolutions/hotel-sdk.git
	branch = develop