[submodule "Externals/platform-common"]
	path = Externals/platform-common
	url = git@github.com:TaviscaSolutions/platform-common.git
[submodule "Externals/nextgen-performance-core"]
	path = Externals/nextgen-performance-core
	url = git@github.com:TaviscaSolutions/nextgen-performance-core.git
[submodule "Externals/hotel-sdk"]
	path = Externals/hotel-sdk
	url = git@github.com:TaviscaSolutions/hotel-sdk.git
